.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 50px;
    align-items: center;

    &__status{
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
      padding: 20px;
      margin: 20px;
      background-color: #b194e3;
      color: #fff;
    }
  }

  h1 {
    font-size: 50px;
    font-weight: 700;
    color: #6D42BA;
    margin: 30px;
  }

  p{
    text-align: center;
  }
}
